extend ../layout

block content
  h1 Roles Page
  p Welcome to Roles Page
  form(method='POST' action=action)
    input#originRolename(type='hidden' name='originRolename' value=rolename)
    input#originProfileid(type='hidden' name='originProfileid' value=profileid)
    div.form-group
      label(for='rolename') Role Name:
      input#rolename.form-control(type='text', placeholder='Role Name' name='rolename' value=rolename)
    div.form-group
      label(for='profileid') Profile ID:
      input#profileid.form-control(type='text', placeholder='Profile ID' name='profileid' value=profileid)
    if cnt !== undefined
      div.form-group
        label(for='cnt') Users:
          a(href= '/etbs-roles/' + rolename + '/users')= cnt + ' user(s)'
    if action == '/etbs-roles/insert'
      button.btn.btn-primary(type='submit') Create
    else if action == '/etbs-roles/update'
      button.btn.btn-primary(type='submit') Save
    else
      button.btn.btn-primary(type='submit') Remove