extend ../layout2

block header
	//link(rel='stylesheet', href='/editable/bootstrap3-editable/css/bootstrap-editable.css')
	//link(rel='stylesheet', href='/bootstrap-select/dist/css/bootstrap-select.min.css')

//block content-header

block content
	// Content Header (Page header)
	section.content-header
		h1
			| Extensions
			small Info
		ol.breadcrumb
			li
				a(href='/api/v1/extensions?access_token=' + token)
					i.fa.fa-dashboard
					|  Extensions
			li
				a(href='/api/v1/extensions?access_token=' + token) extension
			li.active Info

	// Main content
	section.content
		.row
			.col-md-3
				// Profile Image
				.box.box-primary
					.box-body.box-profile
						img.profile-user-img.img-responsive.img-circle(src='/AdminLTE-2.3.3/dist/img/conv-160x160.png', alt='User profile picture')
						h3.profile-username.text-center NONE
						p.text-muted.text-center License created at !{prettyDate(lic_created_at)}
						ul.list-group.list-group-unbordered
							li.list-group-item
								b License
								a.pull-right !{ext_lic}
							li.list-group-item
								b Extensions
								a.lb-total-ext.pull-right 543
							li.list-group-item
								b Groups
								a.lb-total-group.pull-right 13,287
					// /.box-body
				// /.box
			// /.col
			.col-md-9
				.nav-tabs-custom
					ul.nav.nav-tabs
						li.active
							a(href='#info', data-toggle='tab') Detail
					.tab-content
						#info.tab-pane.active
							form#detailExtensionForm.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='inputExt') Extension
									.col-sm-10
										input#inputExt.form-control(name='ext', type='text', placeholder='Extension', disabled='')
										input#inputEditExt.form-control(name='extval', type='hidden', value='')
								.form-group
									label.col-sm-2.control-label(for='inputExtName') Name
									.col-sm-10
										input#inputExtName.form-control(name='name', type='text', placeholder='Name')
								.form-group
									label.col-sm-2.control-label(for='inputOrgName') Organizations
									.col-sm-4
										//input#inputOrgName.form-control(type='text', placeholder='Organizations')
										input.btn-orgname.form-control.org-line-green(name='orgname', type='checkbox')
										input#inputEditOrgId.form-control(name='orgval', type='hidden', value='')
										input#inputEditParentOrgId.form-control(type='hidden', value='')
									.col-sm-6
								// radio
								.form-group
									label.col-sm-2.control-label(for='selectExtType') Type
									.col-sm-10.rd-exttype
										
								.form-group
									label.col-sm-2.control-label(for='inputExtAuthrizeCode') Auth. Code
									.col-sm-10
										input#inputExtAuthrizeCode.form-control(name='authcode', type='text', placeholder='Authorize Code')
								.form-group
									label.col-sm-2.control-label(for='inputExtCreated') Created At
									.col-sm-10
										input#inputExtCreated.form-control(type='text', placeholder='Created At', disabled='')
								.form-group
									label.col-sm-2.control-label(for='inputExtUpdated') Last Updated
									.col-sm-10
										input#inputExtUpdated.form-control(type='text', placeholder='Last Updated', disabled='')
								.form-group
									.col-sm-offset-2.col-sm-10
										.checkbox
												input#inputExtLicense.minimal(name='lic', type='checkbox')
												label
												|  Is License?
												input#inputEditExtLicense.form-control(name='licval', type='hidden', value='1')
												//a(href='#') terms and conditions
								.form-group
									.col-sm-offset-2.col-sm-2.col-xs-2
										button.btn-ext-update.btn.btn-success(type='button') Update
									.col-sm-2.col-xs-2
										button.btn-ext-delete.btn.btn-danger(type='button') Delete
						// /.tab-pane
	.modal.org-modal-list.fade(tabindex='-1', role='dialog')
		.modal-dialog.modal-lg
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4.modal-title Organize List 
						//button.btn.btn-xs.btn-primary(type='button') TEST
				.modal-body.modal-body-org-list
					//p One fine body…
				.modal-footer
					button.btn-org-list-up.btn.btn-info(type='button')
						i.fa.fa-chevron-left
						|  Back
					button.btn.btn-default(type='button', data-dismiss='modal') Cancel
					button.btn-selected-org.btn.btn-primary(type='button') Select
			// /.modal-content
		// /.modal-dialog
	// /.modal
				
block script
	//script(type='text/javascript').
	//var rowPerPage = 9;
	//var rateList = [];

	//script(type='text/javascript', src='/editable/bootstrap3-editable/js/bootstrap-editable.min.js')
	//script(type='text/javascript', src='/bootstrap-select/dist/js/bootstrap-select.min.js')
	//script(type='text/javascript', src='/javascripts/jquery.bootpag.min.js')
	//script(type='text/javascript', src='/javascripts/tariff.js')
	script(type='text/javascript', src='/javascripts/extensions.func.js')
	script(type='text/javascript', src='/javascripts/organizations.func.js')
	script(type='text/javascript').
		$(document).ready(function() {
			var selected_org = null,
				selected_org_name = null,
				selected_parent = null;
			//Initialize Select2 Elements
			$('.select2').select2();
			
			//iCheck for checkbox and radio inputs
			$('input[type="checkbox"].minimal').iCheck({
				checkboxClass: 'icheckbox_minimal-blue',
				radioClass: 'iradio_minimal-blue'
			});
			
			//Flat red color scheme for iCheck
			/*$('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
				checkboxClass: 'icheckbox_flat-green',
				radioClass: 'iradio_flat-green'
			});*/
			
			getLicenseUsage("!{user}","!{ext_lic}","!{token}");
			getExtensionById("!{user}","!{ext_lic}","!{token}","!{extension}");
			getTotalExtension("!{user}","!{ext_lic}","!{token}");
			getTotalGroup("!{user}","!{ext_lic}","!{token}");
			//getAllGroup("!{user}","!{ext_lic}","!{token}");
			
			// jQuery call event handler
			
			// check click event for select organize have to point in src (extensionsDetail.jade and organizations.func.js)
			// update move check click event for select organize to this point only
			$(document).on('click', '.org-have-child', function(ev) {
				ev.preventDefault();

				//console.log($(this).html());
				//console.log($(this).attr('data-val'));
				//console.log($('h4.modal-title').text());
				$('h4.modal-title').html('Organize List <button type="button" class="btn btn-xs btn-primary">'+$(this).attr('data-org-name')+'</button>');

				selected_org = $(this).attr('data-orgid');
				selected_org_name = $(this).attr('data-org-name');
				selected_parent = $(this).attr('data-parent-orgid');
				
				$('button.btn-org-list-up').removeClass('disabled').attr('data-parent-orgid', selected_parent);

				getGroupById("!{user}","!{ext_lic}","!{token}", selected_org);
			});
			
			$(document).on('click', '.org-no-child', function(ev) {
				ev.preventDefault();

				selected_org = $(this).attr('data-orgid');
				selected_org_name = $(this).attr('data-org-name');
				selected_parent = $(this).attr('data-parent-orgid');
				$('h4.modal-title').html('Organize List <button type="button" class="btn btn-xs btn-primary">'+$(this).attr('data-org-name')+'</button>');
			});
			
			$(document).on('ifChecked ifUnchecked', 'input[type="checkbox"].org-line-green', function(event){
				event.preventDefault();
				
				//console.log($(this));
				var curr_orgid = Number($('input#inputEditOrgId').val());
				
				if (curr_orgid == 0) {
					$('h4.modal-title').html('Organize List ');
					getAllGroup("!{user}","!{ext_lic}","!{token}");
				} else {
					getGroupById2("!{user}","!{ext_lic}","!{token}", curr_orgid);
				}
				//event.preventDefault();
				//alert(event.type + ' callback');
				//console.log($(this).attr('data-val'));
				$('.org-modal-list').modal();

				/*if (selected_org_name == '' || selected_org_name == null) {
					//alert('uncheck');
					setTimeout(function(){
						$('input[type="checkbox"].org-line-green').iCheck('uncheck');
					}, 50);
				}*/
			});
			
			
			$('button.btn-selected-org').click(function(ev) {
				ev.preventDefault();
				
				//alert(selected_org);
				$('.org-modal-list').modal('hide');
				
				$('input[type="checkbox"].org-line-green').each(function(){
					var self = $(this);

					if (selected_org_name != '' && selected_org_name != null)
						label_text = '' + selected_org_name;
					else {
						label_text = ' NONE';
					}

					if (selected_org_name == '' || selected_org_name == null) {
						self.iCheck({
							checkboxClass: 'icheckbox_line-aero',
							radioClass: 'iradio_line-aero',
							insert: label_text
						});
						//self.iCheck('uncheck');
					} else {
						self.iCheck({
							checkboxClass: 'icheckbox_line-green',
							radioClass: 'iradio_line-green',
							insert: label_text
						});
						//self.iCheck('check');
					}
				});
				
				// set organize id to hidden input
				$('input#inputEditOrgId').val(selected_org);
			});
			
			$('button.btn-org-list-up').click(function(ev) {
				ev.preventDefault();
				
				console.log('up up up');
				var par_orgid = $(this).attr('data-parent-orgid');
				
				if (par_orgid == 'null') {
					$('h4.modal-title').html('Organize List ');
					getAllGroup("!{user}","!{ext_lic}","!{token}");
				}
				else {
					
					getParentGroup("!{user}","!{ext_lic}","!{token}", par_orgid);
				}
			});
			
			$('button.btn-ext-delete').click(function (ev) {
				ev.preventDefault();
				
				var ext = $('#inputExt').val();
				
				delExtension("!{user}","!{ext_lic}","!{token}", ext);
			});
			
			$('button.btn-ext-update').click(function (ev) {
				ev.preventDefault();
				
				var ext = $('#inputExt').val();
				
				updateExtension("!{user}","!{ext_lic}","!{token}", ext);
			});
			
			$('input[type="checkbox"].minimal').on('ifChecked', function(event){
				event.preventDefault();
				//alert(event.type + ' callback');
				v_lic = true;
				$('input#inputEditExtLicense').val('1');
				//console.log(v_lic);
			});
			
			$('input[type="checkbox"].minimal').on('ifUnchecked', function(event){
				event.preventDefault();
				//alert(event.type + ' callback');
				v_lic = false;
				$('input#inputEditExtLicense').val('0');
				//console.log(v_lic);
			});
			
			$(document).on('ifChecked', 'input[type="radio"].flat-blue', function(event){
			//$('input[type="radio"].flat-blue').on('ifChecked', function(event){
				event.preventDefault();
				//alert(event.type + ' callback');
				v_exttype = $(this).attr('data-val')
				$('input#selectEditExtType').val(v_exttype);
				//console.log(v_exttype);
			});
			
			// end call event handler
		});
		
		$(document).ajaxStart(function() { Pace.restart(); });
		
